<!DOCTYPE HTML>
<html lang = "en">
<img src=https://www.uwb.edu/uwbothell/media/brand-assets/Logos/centered-signature/web-UWBothell-Centered.png width="350em" style="margin:1.2em">
    <head>
        <title> Parking Availability </title>
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

  <body style="margin:0em 2em">

    <style>
        ol {font-size: large;}
    </style>

    <ol>
       <ul>North Garage</ul>
       <div class="progress">
         <div class="progress-bar" role="progressbar" aria-valuenow="70"
         aria-valuemin="0" aria-valuemax="100" style="width:{{n_percent}}%">
             {% if result %}
                 {{ north[0].North_util }} spots available!
             {% endif %}
       </div>
     </div>

       <ul>South Garage</ul>
       <div class="progress">
         <div class="progress-bar" role="progressbar" aria-valuenow="70"
         aria-valuemin="0" aria-valuemax="100" style="width:{{s_percent}}%">
             {% if result %}
                 {{ south[0].South_util }} spots available!
             {% endif %}
         </div>
       </div>
    </ol>

    <hr>
    </body>

<div style="margin:1.2em">
    {% if result %}
        Updated {{ result[0].Datetime }}
    {% endif %}
</div>
</html>
